body {
    padding-top: 5rem;
    background: #252830;
}
.starter-template {
    padding: 0rem 1.5rem 1rem;
    text-align: center;
}
.text-grey {
    color: #999;
}
.badge {
    font-weight: normal;
}
.badge-ART {
    background: #d9534f;
}
.badge-COMM {
    background: #f0ad4e;
}
.badge-THESE {
    background: #5CB85C;
}
.badge-COUV, .badge-DOUV {
    background: #5bc0de;
}
